[2014-12-11 06:46] alecsammon opened #28 "Stable version"
What do we need to get a first stable version out?

My current thoughts
- More support of the complete RAML spec
- A fixed interface for the classes
- A refactor of the tests
- Better test coverage, with more full example RAML files

A nice to have would be the ability to convert the API Definition back into a RAML file. This would be a useful feature anyway, but also would make testing quite easy

[2014-12-12 16:24] alecsammon opened #32 "Full support of Template URIs and URI Parameters"
see http://raml.org/spec.html#template-uris-and-uri-parameters

This library currently doesn't support
- urls of the form `/folder_{folderId}-file_{fileId}`
- mediaTypeExtension reserved parameter
- adjacent // and the ~{fieldSelectors} parameter

[2015-01-12 16:30] Toflar opened #40 "Use webmozart/json"
Hey Alec,

You may want to use https://github.com/webmozart/json for version 1. It seems like it would cover some of your schema validation already and seems to be a bit more robust :)

Awesome work!

[2015-01-13 09:12] alecsammon commented on #40
Looks good.

I'm swamped with real work at the moment - but will try and get it integrated asap - hopefully by the end of the week.

[2015-01-13 09:14] Toflar opened #42 "Protocols should be uppercase"
I tried to specify the following RAML:

[code]

and I ran into a `Not a valid protocol` `RamlParserException`.
When tracking this down I found that in `ApiDefinition` the constants are lower case: https://github.com/alecsammon/php-raml-parser/blob/1.0.0/src/ApiDefinition.php#L21

However, according to the spec, I think it should validate against uppercase: http://raml.org/spec.html#protocols

What

[2015-01-13 09:15] Toflar commented on #40
No worries, I'm excited by your project anyway :) Just make sure it doesn't die!

[2015-01-13 09:26] alecsammon commented on #42
Yeah - looks like a bug.

My test coverage for v1.0.0 is really poor - hence not releasing it as stable yet.

Feel free to put a pull request in.

[2015-01-13 09:27] alecsammon commented on #40
Thank you. It's a critical part of the infrastructure at my work, and has some other awesome contributors. It's not going to die ;)

[2015-01-13 13:30] Toflar commented on #42
Done :)

[2015-01-13 13:36] #42 closed

[2015-02-04 10:04] ronnkriibi opened #45 "When parsing raml with traits it throws: Warning: array_replace_recursive(): Argument #1 is not an array"
Hi.

I am trying to parse this raml spec [link to Github](https://github.com/scaganoff/example-eventlog-api)
with your parser and it throws an error Warning: array_replace_recursive(): Argument # 1 is not an array in ..\vendor\alecsammon\php-raml-parser\src\Parser.php on line 298.
Here to be more precise:
[code]
I think you should also add: is_array($newArray[$key])

[2015-02-04 13:06] alecsammon commented on #45
Hi Roland,

could you try using v1 - it should be fixed :)

[2015-02-04 14:53] ronnkriibi commented on #45
Well, I tried to pull the version 1.0.0 with the composer but I am not sure if I pulled the correct one. My composer.json looks something like this
[code]
Composer final output was this: Updating alecsammon/php-raml-parser (dev-master 1f145e6 => 1.0.0.x-dev 70c8a73)

So I ran the Parser again with the update package and the warning was not fixed. Besides that, It gave me a bunch of new warnings an

[2015-02-10 12:58] alecsammon commented on #45
Hi Ronald,

Sorry for the delay - I believe I have now fixed this in 1.0.0. So if you do a composer update it hopefully will work!

In your example there is a issue with the JSON in https://github.com/scaganoff/example-eventlog-api/blob/master/eventListExample.json - you're missing commas between the objects in the array.

[2015-02-10 14:40] ronnkriibi commented on #45
It is now fixed, but there is a similar mistake in Paraser.php in function replaceTypes() in line 343.

I knew that there was a problem in the JSON.

[2015-02-10 15:04] alecsammon commented on #45
Awesome - thanks :)

Also fixed

[2015-02-10 15:39] Toflar opened #46 "parse() should expect a string, not a file path"
One thing that bothered me when doing unit tests was that mass of fixtures due to the fact that `parse()` expects a path and you cannot just pass a string.
I think this part of the library should be improved. It relies on the SF2 Yaml component and cannot be substituted. Also, methods like `parseYaml` and `loadAndParseFile` etc. look like their specific to the SF2 Yaml component.

What do you thin

[2015-02-10 16:50] alecsammon commented on #46
Hi Yanick

I agree  :+1:

It was one of those things that started just with my use case, and has quickly grown!

I've started making some changes to this on the 1.0.0 branch, decoupling the yaml parser into a single call so it can be easily substituted. The php yaml parser has been shown to be much quicker, but fails for all but the most basic use cases - however it would be nice to use this if yo

[2015-02-10 17:15] Toflar commented on #46
It's `private` ;-)

No, it should either accept `string` only or something like a `Raml\Parser\ContentProviderInterface`.
Can be really simple! Something like

[code]

[code]

[code]

And here we go :-)

[code]

This
* introduces possibility for any source of the content to be parsed
* removes dependency on the yaml component. If you don't like it (for whatever reason) you are free to write your o

[2015-02-10 17:24] alecsammon commented on #46
Ah yes - awesome - looks good.

Are we happy changing the interface for parse()? - this would be a breaking change for everyone using the library.

[2015-02-10 17:31] Toflar commented on #46
I don't know. To me, there is no stable version yet and you are basically refactoring everything for a first version so nobody should rely on the current API, right?
But if you don't like that we could go and instead of doing this

[code]

go for

[code]

[2015-02-10 17:37] alecsammon commented on #46
Hmm - I think you're right

so we go for
[code]

and if people complain it's an easy fix to implement your second option.

Are you happy to put a pull request in?

[2015-02-10 17:45] Toflar commented on #46
Yeah, sure! But it'll take a moment as I'll also want to build some `AbstractContentProvider` for the `!include` and caching thing that every provider needs ;-)

[2015-02-12 16:23] darh opened #48 "Missing method Raml\Method::getExampleByType()"
Should this accessor method be there? It's more or less the same as getSchemaByType(), right?

Can I prepare a pull request for this or is something else planned to enable this?

[2015-02-12 17:23] alecsammon commented on #48
Hi, no reason for it not to be there.

Please do put a pull request in - thanks

[2015-02-12 17:39] #48 closed

[2015-02-16 19:43] #45 closed

[2015-02-17 17:46] alecsammon commented on #46
Hmm - looks like this causes an issue when loading a included raml file in a different directory.

Will add a test and see how we can fix

[2015-02-17 17:58] Toflar commented on #46
Yeah, just create a PR and notify me if you want me to have a look at it but I'm pretty sure you'll figure it out on your own :D

[2015-02-17 17:58] alecsammon commented on #46
I've pushed a broken test on 1.0.0 :)

[2015-02-17 17:58] Toflar commented on #46
Checking

[2015-02-17 18:25] Toflar commented on #46
Works perfectly fine for me, your test was just wrong :-D I've extended the test and found another bug in `Response`: https://github.com/alecsammon/php-raml-parser/pull/51

[2015-02-17 18:58] alecsammon commented on #46
Cool - sorry the test was stupid!

There was an issue - but because I had used the filename song.json it was masked. Sorry - shouldn't file tickets in a rush! I've fixed that bug.

Thanks for the pull request

[2015-02-17 18:58] #46 closed

[2015-02-18 09:27] Toflar commented on #46
No worries! BTW, while writing the tests I found that `BodyInterface` (https://github.com/alecsammon/php-raml-parser/blob/1.0.0/src/BodyInterface.php) only requires `getMediaType()` but there are some more methods: https://github.com/alecsammon/php-raml-parser/blob/1.0.0/src/Body.php
However, I'm not quite sure if e.g. every body needs to implement a `getSchema()` method etc. It's just something t

[2015-03-25 23:21] CozyLife opened #53 "[BUG?] Unable to require 1.0.0"
For some reason Composer can't locate the 1.0.0 branch for PHP RAML Parser. I stuck it in require as ``` "alecsammon/php-raml-parser": "1.0.0" ``` and also tried setting the @dev flag and appending -dev with no luck. Originally my composer.json had a minimum stability of "dev", but I've since removed that for best practices. It was on there from the original repo I had the JSON from, so I tried re

[2015-03-25 23:37] CozyLife commented on #53
I was able to grab it manually through Git, so it must have been something on my end. False alarm. For anyone who comes across this issue, I removed the entry from composer after I pulled the "master" branch. In Git, you'll need to checkout the desired branch.

[2015-03-25 23:37] #53 closed

[2015-03-26 00:04] CozyLife opened #54 "[BUG] Extraneous ! in type check"
On [line 459 of NamedParameter.php](https://github.com/alecsammon/php-raml-parser/blob/1.0.0/src/NamedParameter.php#L459), you have an extra ! preceding $this->type.

[2015-03-26 06:41] #28 closed

[2015-03-26 06:41] #32 closed

[2015-03-26 06:41] #54 closed

[2015-03-26 06:43] alecsammon commented on #53
Hi Rick,

No worries. I've now promoted 1.0.0 to a tag on master. Should be able to drop the "dev".

[2015-03-26 13:51] CozyLife commented on #53
Great. Thank you.

[2015-03-26 18:48] CozyLife opened #55 "[SECURITY FLAW] LFI vulnerability in file inclusion"
**The Problem**
RAML could be used by more than just a developer working on their own API, and when groups of people have access to write RAML code on a managed service, parsing included files could be dangerous, however some files may be useful for inclusion.

The program protects against RFI attacks, and allows for file inclusion to be shut off, but when file inclusion is enabled, it allows for

[2015-03-28 22:26] CozyLife opened #56 "[BUG] formParameters and Named Parameters not correct for the method"
**The Problem**
When creating a method which utilizes the "body" parameter, [\Raml\Method::createFromArray()](https://github.com/alecsammon/php-raml-parser/blob/master/src/Method.php#L132) checks for valid types. If the valid type exists, then it sets the valid type as a key, and  passes its contents to [\Raml\WebFormBody::createFromArray()](https://github.com/alecsammon/php-raml-parser/blob/maste

[2015-03-28 22:47] CozyLife commented on #56
I just fleshed it out for you. Here's the final code for \Raml\WebFormBody. Enjoy!

[code]

[2015-03-29 18:51] CozyLife opened #57 "[BUG] null Security Scheme is invalid"
**The Problem**
When defining security schemes, you don't enter the "null" security scheme, but you do use the placeholder "null" in "securedBy" [as stated in the official RAML 0.8 spec](http://raml.org/spec.html#usage-applying-a-security-scheme-to-an-api). When referencing the "null" security scheme, the project complains that it couldn't located it as a "securitySchemes" entry.

**The solution**

[2015-03-30 23:30] CozyLife opened #59 "[FEATURE] Apply a trait based security scheme to the whole API"
**Three Features**
This thread actually describes three separate things. First, the [RAML 0.8 spec states](http://raml.org/spec.html#usage-applying-a-security-scheme-to-an-api) that a security scheme can be added to the root data for an API to signify that it secured the whole API. That allows for the second function.

When making OAuth calls, you make multiple API calls, so having all the securit

[2015-04-05 18:31] CozyLife opened #61 "baseUriParameters missing from \Raml\Method"
**The Problem**
RAML 0.8 Spec [states that baseUriParameters](http://raml.org/spec.html#base-uri-parameters) is valid on methods, but the parser doesn't have that implemented.

**The Solution**
Accept my new pull request. ;)

[2015-04-09 13:45] #55 closed

[2015-04-09 13:45] #56 closed

[2015-04-10 05:56] #59 closed

[2015-04-11 18:30] #61 closed

[2015-04-11 18:30] #57 closed

[2015-04-12 17:08] CozyLife opened #63 "[BUG] A test throws warnings when it can't find the tree/songs.raml fixture."
I just updated my software to your latest commit and I ran the tests. Below is the new output.

[code]

[2015-04-12 17:11] alecsammon commented on #63
Can you try
composer update
Then run the tests again.
On 12 Apr 2015 18:08, "Rick Mac Gillis" <notifications@github.com> wrote:

[2015-04-12 17:45] CozyLife commented on #63
The only new update was for my framework. I updated before writing my posted, so I did get your update.

[2015-04-12 20:15] cozylife opened #64 "[BUG] getValidationPattern() is unreliable."
**The Problem**
\Raml\NamedParameter uses [getValidationPattern()](https://github.com/alecsammon/php-raml-parser/blob/master/src/NamedParameter.php#L391) to pull type checking regex, as well as the RAML defined "[pattern](http://raml.org/spec.html#pattern)" data.

When the RAML data doesn't include a "pattern" entry, you get the pattern for the type checking. RegEx is slower than PHP type checking

[2015-04-13 08:13] alecsammon commented on #64
Hey - I've commented on the pull request regarding this.

Basically I think you're correct. I don't even think the custom validation pattern should be there. It's not from the spec.

Thinking about it further, the best solution may be to merge your pull request, then for version 2 (which looks like it might have to be soon), we remove all the custom validation patterns.

[2015-04-13 08:19] alecsammon commented on #63
This bug is a bit strange.

I'm not seeing it locally. And travis is also not seeing it https://travis-ci.org/alecsammon/php-raml-parser/builds/58093628.

The root cause is the version of json-schema you are using. I've made a couple of minor patches to the library to remove warnings, so you should be using my version. The most likely reason is that you are also including a version on json-schema

[2015-04-13 14:38] CozyLife commented on #64
Agreed.

[2015-04-13 14:43] CozyLife commented on #63
I'd feel more comfortable with rewriting the tests, or better yet making changes to the official json-schema repo to check if the file exists before attempting to load it. Then, just make a pull request.

I don't like having to patch unofficial code into third party code for a couple reasons. One, if the official code changes, it might not function with the patch anymore. Two, it requires extra wo

[2015-04-14 05:59] alecsammon commented on #63
Ah - sorry. Don't think I've been very clear.

I have made the changes on a fork of the official repo. There was an open pull request, but I've temporarily withdrawn it until I can tidy up my code.

In the composer.json for this repository it has an override to load my version of the json-schema library, instead of the official version. For some reason when you are using the library it is not load

[2015-04-14 14:33] CozyLife commented on #63
In composer.json it says to use the [official repo's latest development version](https://github.com/alecsammon/php-raml-parser/blob/master/composer.json#L35). As your fork is at [alecsammon/json-schema](https://github.com/alecsammon/json-schema) the line should be changed to use the appropriate version of that repo.

[2015-04-17 19:49] #63 closed

[2015-04-20 17:46] cozylife opened #67 "[BUG] alecsammon/json-schema doesn't pull with composer."
For some reason composer cannot find a version for alecsammon/json-schema, and therefore it cannot require it.

[2015-04-21 13:01] alecsammon commented on #67
Strange

which version of composer are you running?

mine is
[code]

Also - is this when trying to add my library as a dependency in your project, or just running standalone.

Any chance you can let me see your composer.json (if it has no private information)

[2015-04-21 15:40] CozyLife commented on #67
My composer is the same version. I always update it before I pull updates for everything else.

[code]

My composer.json lists the following for your project under the the "require" section.
[code]

I've also listed the following under "repositories."

[code]

Nothing points directly to alecsammon/json-schema, so my guess is that it's pulling it from your [composer.json](https://github.com/alecsam

[2015-04-21 22:35] rickmacgillis opened #68 "[FEATURE] Apply securedBy to resources, and not always merge with methods"
**The Problem**
The RAML spec [shows](http://raml.org/spec.html#usage-applying-a-security-scheme-to-an-api) that the securedBy parameter may appear on both methods, and resources. The current setup does not allow for resources to use securedBy. Also, the current setup doesn't allow for security restrictions using secondary servers. Method simply merges all securityScheme data into the current requ

[2015-04-23 06:42] alecsammon commented on #68
Hi Rick,

Sorry - bit confused by this pull request. Agreed that the securedBy should be merged onto resources as well as methods. However this in it's self is not a backwards incompatible change.

I'm still confused by why you wouldn't want the security schemes to ever be merged - the library should take whatever RAML is passed to it, and parse it. I don't believe that there should be flags that

[2015-04-23 13:21] CozyLife commented on #68
My use case is to accommodate security structures validating with one server, then talking to another for the formal request, or simply talking to the same server twice for authentication. The best example I can give is a multi-legged OAuth request in either version. You grab a temporary token from a server, then you use that token for future requests instead of your main token.

If requests get m

[2015-04-24 08:16] xait-jon-havard-gundersen commented on #67
I think the issue is that you didn't update the composer.json file in the alecsammon/json-schema package, the name is still justinrainbow/json-schema

[2015-04-26 01:18] rickmacgillis opened #71 "[FEATURE] Custom settings in securedBy"
The official RAML specs [state](http://raml.org/spec.html#usage-applying-a-security-scheme-to-an-api) that the securedBy field can specify custom settings for the security scheme. The syntax shown on the official documentation is incompatable with the Symfony YAML parser, but an alternative syntax makes the custom settings possible.

**Official syntax**

`securedBy: [null, oauth_2_0: { scopes: [ A

[2015-04-26 02:09] CozyLife commented on #67
Also very useful: https://getcomposer.org/doc/articles/troubleshooting.md#package-not-found

[2015-04-26 02:19] CozyLife commented on #67
Having to fight to get a third party repo is ridiculous. Let's just get Justin's repo updated with a pull request and be done with it. I'm sick of having to miss updates and fight the system.

[2015-05-12 13:06] rdohms commented on #67
Yeah this is still an issue and this is a huge mess right now.
Unless you add this to packagist no one will find it, otherwise its better to not rename the package and instruct people to bypass the repository and use your fork with the repository option.

[2015-05-12 13:06] wvervuurt commented on #67
Geachte heer/mevrouw,

in verband met vakantie ben ik onbereikbaar t/m zondag 17 mei.

Werkt uw dienst niet naar behoren of heeft u om een andere reden mijn aandacht nodig, stuur dan een sms-bericht aan 06-53447238.  Uw bericht wordt dan zo spoedig mogelijk afgehandeld.

Met vriendelijke groet,

Willem Vervuurt

================================

Hello,

I am on vacation until Sunday the 17th of Ma

[2015-05-15 13:30] rdohms opened #76 "json-schema integration not up to the spec"
Scenario:

[code]

Using the above example i should get a valid result to navigate (raml successfully parsed), and (as a bonus) my json-schema would load the email entity inside the account emails property.

However it tries to load `email` as if its a remote json-schema file

[code]

I believe this is an issue in how processing is handed over to json-schema but i'm not entirely sure where the bla

[2015-05-20 13:08] rdohms opened #77 "Bad parsing of SecuritySchemas"
[code]

This genarates the follwing structure:

[code]

So when trying to get the `oauth_2_0` security scheme you are looking in the wrong array and this get the following error.

`Notice: Undefined index: oauth_2_0`

from the `ApiDefinition ->getSecurityScheme ('oauth_2_0') ` call.

Is is possible to get the expected result using

[code]

But that is not compatible with the Spec and breaks tools

[2015-05-20 13:10] rdohms commented on #76
So i dug a little more.

Seems no parser does the full job and this library has a second parameter that avoids parsing the schemas.

Still it would be cool to be the only parser to do this, so it may be a nice new feature.

[2015-05-24 13:36] CozyLife commented on #76
If there's enough demand then we'll implement it, and if you'd like that feature immediately, you can always make a pull request. There's a couple pull requests from my repo waiting incorporation, so to keep things stable, I'd suggest waiting until those are merged.

[2015-05-26 14:57] alecsammon commented on #76
Hi Rafael,

I agree it's a problem, however I'm not currently sure how to fix it.

Either the order in which the schema's were listed would have to become important - which feels like a dodgy thing to do with an unordered array! Or you would have to parse them twice - which feels like it could get pretty complicated.

Not sure what to suggest - but open to ideas

[2015-05-27 12:23] alecsammon commented on #71
So - thinking about this ticket in more depth.

I think changing the schema is a bad approach. It would break interoperability between this library, and other libraries.

It is a bug in the syfony yaml parser - I'm trying to see how easy it is to make a fix and put in a pull request.

Until then using the following syntax is identical - however is supported by the library. It is a little bit more

[2015-05-29 08:44] alecsammon commented on #67
Ok - done more investigation into this - it's a nightmare I agree. Sorry, I hadn't appreciated quite how much it didn't work. Still unsure why it was working for me!

The only real solution is to get the bug fixes merged into Json Schema. I've split the original pull request into 2 separate ones as they concern different things. I've also added tests for one of them.
See https://github.com/justinr

[2015-05-29 08:56] alecsammon commented on #77
Thanks - I've fixed this, but not yet merged into master. It's a breaking change, so I want to wait for v2. Should hopefully be soon. In the mean time you can point to the v2 branch using something like this:
[code]

[2015-05-29 08:58] alecsammon commented on #64
This is going to be removed in 2.0.0

[2015-06-14 20:21] alecsammon commented on #67
So json-schema has been fixed. 2.0.0 is now pointing at the fixed version.

[2015-06-14 20:21] #67 closed

[2015-06-14 20:53] cozylife commented on #67
Awesome. It appears that the changes could be backwards compatible. Can you please update 1.X with the change, too? Also, what new features, and backwards incompatible changes are part of 2.0?

[2015-06-14 21:03] alecsammon commented on #67
Tagged 1.1.1

Just working on 2.0.0. Main backwards incompatible changes are
- disabling of directory traversal by default
- removal of custom validators
- fix security settings format

[2015-07-01 20:36] cozylife opened #81 "Can't include version 2.0.0"
I think Version 2.0.0 needs to have a tag for Composer to pull it.

[2015-07-02 08:44] alecsammon commented on #81
try ```"alecsammon/php-raml-parser": "2.0.*@dev"```

I don't want to tag it until I've got some confirmation from people that it works!

[2015-07-02 16:01] cozylife commented on #81
That worked. Thanks. I'll let you know how it goes on my end.

[2015-07-02 16:40] cozylife commented on #81
It still doesn't look like Version 2.0.0 fixed [issue #70](https://github.com/alecsammon/php-raml-parser/pull/70#issuecomment-106824305). From reviewing the source, I see that the security call data is still being merged with the main request. Do you intend to resolve the issue in Version 2.x.0?

[2015-07-02 19:12] rickmacgillis opened #82 "[BUGS] Security scheme parsing messed up"
The settings in the configuration object for `parseSecuritySchemes` don't function properly. I've changed the code to correctly parse the settings array, and the switch tells the script to use only the default parser or not. (Avoids the invalid key issue when looking for the settings.) Also, I added back in the code to select if the security call data should merge with the main call or not. (Backw

[2015-07-19 05:42] darh opened #84 "Parser adds ID property to external JSON example"
I've run into a wierd situation -- JSON example, loaded from external file (!include) is changed by the parser - it contains ID element with path to itself.

*PHPUnit output:*
[code]

([unit tests](https://github.com/alecsammon/php-raml-parser/compare/master...kendu:external-json-example-id-issue
))

*/external*
[code]

*/internal*
[code]

Problem (for me) is that this breaks tests on my projects

[2015-07-20 09:44] alecsammon commented on #84
Hi @darh,

Sorry for the delay.

Looks like this isn't added by my library, but by "justinrainbow/json-schema".

If you look at JsonSchema\Uri\UriRetriever line 155 you can see the line that adds it.

I'm not sure why they do this, haven't looked into it further. There is movement on that repo - may be worth checking with them.

Let me know what you find out.

[2015-07-20 12:10] darh commented on #84
Thankyou. Will point them to this issue.

[2015-07-20 12:10] #84 closed

[2015-08-13 07:34] brendo opened #85 "Body/WebFormBody can't handle null bodies."
The current implementation of `Body`/`WebFormBody`'s `createFromArray` method does not support the shortcut: `!!null`. Judging by the [spec](http://raml.org/spec.html#body), this is legitimate:

[code]

At present, using RamlParser over that schema will result in:

[code]

We currently call `createFromArray` from three locations, [`Method`](https://github.com/alecsammon/php-raml-parser/blob/master

[2015-08-17 20:59] #64 closed

[2015-08-17 20:59] #77 closed

[2015-11-06 15:29] zender opened #88 "RAML 1.0"
Is RAML 1.0 supported?

[2016-01-14 17:29] JMLamodiere opened #91 "Define minimal php version required"
Currently, the `require` section of `composer.json` does not state the minimal php version supported by the lib. I've tried using it on PHP 5.3 (please don't judge ^^) but the code uses short array syntax `[]` supported since PHP 5.4.

It could be a great idea to decide which version is supported, and add it in `composer.json`. Does someone knows if PHP 5.4 is enough for this lib ? Or knows about

[2016-01-15 06:58] alecsammon commented on #91
Don't worry - I won't judge you!

I'm running php 5.5 - however the tests pass in 5.4 so assuming that it must be supported:
https://travis-ci.org/alecsammon/php-raml-parser/jobs/94889220

[2016-01-15 07:12] alecsammon commented on #91
testing branch: https://github.com/alecsammon/php-raml-parser/tree/update_composer

[2016-01-15 09:35] JMLamodiere commented on #91
Ok thanks !

In your branch, you seems to have updated all of your `composer.lock` by launching a `composer update`. Problem is it now requires somes symfony 3 component, and they need `php >=5.5.9`

I've made another PR #92 , where I've run `composer update --lock`. It only fixes `composer.lock` (such as `hash` value) without altering libs versions.

Thanks for the lib by the way, very usefull to

[2016-01-18 13:06] #91 closed

[2016-01-18 13:07] alecsammon commented on #91
Thanks!

[2016-01-25 10:19] qutwala commented on #88
I won't create new issue, but I try to update this one with bugs in this package and features which is not supported at this moment but should be, according RAML 1.0 spec.

A few days ago I have noticed that examples provided *by path* in `DataType` files are not parsed and included in objects, hovewer using plain notion seems work.

Also not sure why but jsonschema validator fails on some schemas

[2016-03-09 16:46] kernio opened #93 "SecurityScheme->getKey return string(4) "null" instead of NULL"
**example.raml**
[code]
**testcode.php**
[code]
Result of code execution.
Actual result:
string(9) "oauth_2_0"
string(4) "null"

Expected result:
string(9) "oauth_2_0"
NULL

[2016-03-15 09:57] gkimpson opened #94 "class Raml\ParseConfiguration not found in ... error message"
I am getting errors stating Raml\ParseConfiguration not found in xyz...

    Class 'Raml\ParseConfiguration' not found in /cygdrive/c/src/myapp/Raml/Parser.php on line 83

Have I done a step incorrectly, what is the correct method to autoload the php-raml-parser? I have followed the instructions in the readme, i'm guessing I've done something wrong - any suggestions?

my index.php file -

    requ

[2016-03-15 15:53] alecsammon commented on #93
Hi @kernio

Sorry for the delay - yes that does look incorrect.

I'll try and find some time to make a fix - but I'm busy on some other projects at the moment.

Feel free to send me a pull request ;)

Thanks

[2016-03-15 16:02] alecsammon commented on #94
Hi Gavin,

This project uses the composer autoloader. See https://getcomposer.org/doc/01-basic-usage.md#autoloading

You probably just need to replace this line:
[code]

with
[code]

[2016-03-15 16:02] #94 closed

[2016-04-08 17:42] JoeBengalen opened #95 "resourcePathName in nested resource not working as expected"
Using `resourcePathName` a resourceType always gets replaced by the top level path name (`foo`), not the current one (`bar`).

I am using version `2.1.0`
Reference: `28b74edef23606a428e3443de464372780feb9b7`

I made a really simple example to show the problem:

[code]

[code]

[code]

[2016-04-16 16:40] #93 closed

[2016-04-16 16:53] #95 closed

[2016-04-16 16:53] alecsammon commented on #95
sorry for the delay - this is not perfect - there may be problems with using DisplayName with nested resources, but at least it should fix your problem

[2016-04-18 06:36] kernio commented on #93
Thank you for fixing 👍

[2016-04-19 19:20] JoeBengalen commented on #95
It did fix that problem. Thanks for that!

Unfortunately is rose another problem when taking the nesting a step further using `{fooId}`. Also took care of the displayName ignorance while at it :)

I hope you can also apply this fix! I would send a PR but all tests seem to fail on windows for some reason :(

[code]
[code]

Output:
[code]

Fixed output:
[code]

Fix Parser line 664:
[code]

[2016-04-20 08:28] alecsammon commented on #95
Awesome!!! Thanks!

[2016-06-03 12:13] pies opened #99 "No support for pattern-based uriParameters in Resource::matchesUri"
If you use an URI parameter with a specified validation pattern, it just pastes it into a string. Validation patters, however, have to (?) begin and end with `^` and `$`, which messes the regex up.

[2016-06-03 12:13] pies commented on #99
Fixed by https://github.com/alecsammon/php-raml-parser/pull/98

[2016-06-11 08:58] #99 closed

[2016-06-15 09:40] achimha opened #100 "API validation in Laravel/Lumen"
Hi,

is there any guidance available how to use this parser to perform REST API validation in Laravel/Lumen against the RAML description?

Thanks!

[2016-06-24 21:46] pies opened #101 "justinrainbow/json-schema 2.0 support"
I've investigated the possibility of updating the json-schema parser to 2.0, but the problem is that it has no notion of parsing a string. It could of course be worked out by extending the json-schema parser to be able to parse strings, but wouldn't it make sense to just resolve things as they are loaded (as that parser does)?

Is the two-stage first-load-then-parse process necessary?

[2016-07-05 14:19] Assada commented on #88
+1

[2016-11-21 23:08] pies commented on #100
Is Laravel using a PSR-7 compatible Request? If so, this could be helpful to you: https://github.com/alecsammon/php-raml-parser/tree/master/src/Validator

[2016-12-20 11:59] latrek commented on #101
Hi, are there any plans to update justinrainbow/json-schema to 2.0 or a newer version? With this old version its not possible to load rekursive schemas. Did you get it running with version 2.0 ?

[2016-12-27 14:59] duxet commented on #101
[thephpleague/json-guard](https://github.com/thephpleague/json-guard) seems to be a good alternative for justinrainbow/json-schema. They claim it's working with circular dependencies, which is not a case with the currently used library.

[2017-02-09 10:24] AnzeDspot opened #108 "Type support for RAML 1.0"
Hello,

I have noticed that parser does not support parsing examples/definitions of responses with new "Type" that was introduced in RAML 1.0, however it still support schema only which is deprecated and will be eventually removed.

Since I want to use RAML 1.0 with all new feature fork will be created and this functionality(Type definitions) implemented.

However for sure it will be useful for so

[2017-02-09 10:26] AnzeDspot commented on #108
Just saw a Merge request regarding this, will test it out and give input on this.

https://github.com/alecsammon/php-raml-parser/pull/107

[2017-02-09 10:39] AnzeDspot commented on #108
@vbartusevicius What is your progress on this? As it seems it just needs to be linked to https://github.com/alecsammon/php-raml-parser/blob/master/src/Body.php#L87 and Types should be parsed into the Response object.

Can I help you with something or do you have things done locally already?

[2017-02-09 12:11] InfopactMLoos commented on #108
Just ran into this myself, I have been working on implementing this for a project at my work and when I wanted to validate the requests and responses against the spec I discovered empty bodies. I am guessing this has to do with the missing 1.0 feature implementation as this is what I am using in my spec too. I will test the pull request and give feedback on it as well.

[2017-02-10 14:12] AnzeDspot commented on #108
To add a fully functional support of Type into the library following examples (and more) should be supported.

Simple Type defintion

[code]

Using Traits

[code]

Using Traits and ResourceTypes

[code]

Support for injectining variables should be implemented too

[code]

Specification states:
[code]

Functions should be understood too defined at [functions](https://github.com/raml-org/raml-spec/b

[2017-02-10 15:22] AnzeDspot commented on #108
@alecsammon what do you think of completely breaking 0.8 compatibility and redoing library to support raml 1.0 only?

[2017-02-10 15:55] AnzeDspot commented on #108
From my point of view we need 4 different objects(Type, Trait, QueryParameter and ResourceType) which holds all available definitions and then has to be applied in correct order to the current Body that is being processed.

Order will probably be parsed to and read inside Resource object since it's endpoint/method specific.

[2017-02-10 20:51] alecsammon commented on #108
Hi @AnzeDspot - sorry I'm not very active in this project at the moment. My view would be to just switch to supporting 1.0, and ensure that we create a major version. We can then update the README so that anyone needing support for 0.8 knows to use < v3 of this library.

[2017-02-13 12:47] InfopactMLoos commented on #108
@AnzeDspot I agree with @alecsammon redoing the entire library looks like a bit too much to me. Also, how much is the 1.0 spec breaking 0.8? As far as I can tell there seems to be mostly adding of functionality and some small tweaks. I did only briefly look at the full spec though so I might have missed some.

I did however already find that we need to do some fundamental changes to the library to

[2017-02-14 15:03] AnzeDspot commented on #108
@InfopactMLoos I did not mean to redo the whole library since it supports a lot of things that still needs to be supported at 1.0 like JsonSchema, XML, ..., however if it's easier to break some current functionalities to support 1.0 features we should do that.

Currently I fall back to RAML 0.8, since it's supported and works, but still can help to make it compliant with  RAML 1.0.

My thoughts ar

[2017-02-14 15:51] InfopactMLoos commented on #108
Ok great then we are on the same page, just a misunderstanding. As @alecsammon suggested we should commit to a new v3.0 branch and update the documentation that v3.0 branch implements RAML 1.0, possibly breaking compatibility with 0.8. Of course we'll try to be backwards compatible but if BC-breaks are unavoidable I too favor RAML 1.0 functionality since most features are needed in enterprise envi

[2017-02-27 03:56] shelbyallen opened #109 "Validation fails on requests/responses with no body"
The RequestValidator class does not appear to handle validating requests without a body defined in the RAML (e.g. a standard GET request).

Calling validateRequest() will result in an error like the one below because no content-type header is set and therefore there are no bodies that match:

The ResponseValidator class also appears to have the same issue when validating responses without a body d

[2017-02-28 15:44] InfopactMLoos commented on #108
Sorry for the long radio silence. After re-evaluating the RAML type validation I determined that the reusing of the justinrainbow JSON validator wasn't a good enough choice. It seems that the validation done by RAML types is, although compatible with JSON schema, slightly different (more refined). Since validation is an important part of an API, I decided that an as accurate as possible implementa

[2017-02-28 16:04] InfopactMLoos commented on #108
Hm ok it seems I am not able to create a new branch on the upstream (this) repo. @alecsammon , can you create a v3.0 branch? Then I can send in my pull request. I don't want to pollute the master branch.

[2017-03-02 15:38] InfopactMLoos commented on #108
@AnzeDspot while awaiting @alecsammon maybe you can already review my current work? [See my fork](https://github.com/InfopactMLoos/php-raml-parser/tree/v3.0). I have updated the README with a quick notice about a work-in-progress 1.0 specification and created a small TODO list with missing chapters from the specification. Also validation has been implemented but only in its most basic form, valida

[2017-04-02 21:53] therealgambo commented on #108
Any update on this @InfopactMLoos ?

[2017-04-03 09:07] InfopactMLoos commented on #108
I have written all the validator class code last week, still need to clean up the code a bit before pushing to github. Sadly I have received little feedback on my previous work so not sure if I am going the right way for the community at large here. However since my company needs this code to work I will make it work the way we need it in the best way I can. I will try to finish my current code to

[2017-04-04 21:19] therealgambo commented on #108
@InfopactMLoos  I'm happy to look over what you have done when I have some free time, I'm not sure what overall direction we are wanting this library to take with 1.0 spec.

We are in the same situation where we are implementing the 1.0 spec for a new framework, however this library isn't quite there yet.

[2017-07-05 19:03] NateEag commented on #109
I'm having the same issue with validating GET requests.

My first thought for a workaround was to make a subclass and extend `RequestValidator::assertValidBody()` so I could just skip the body validation for GET requests, but that won't work, since `assertValidBody()` is declared `private`.

If I bypass validations for GET requests, I miss out on parameter validations. I could write the parameter

[2017-11-14 20:00] jefferson-lima commented on #109
I made a [pull request](https://github.com/alecsammon/php-raml-parser/pull/114) that fixes this issue

[2018-02-01 22:59] jstoiko opened #117 "Call for maintainers 💡"
@alecsammon does not have the bandwidth to maintain the project anymore. He has agreed to hand over the project to whoever is willing to take over. We could also consider hosting it under the https://github.com/raml-org organization.

I am tagging a few people here based on the latest PRs. I also think those PRs would be a good starting point for a new release.

@vbartusevicius
@InfopactMLoos
@Anz

[2018-02-02 01:29] therealgambo commented on #117
Sounds like a great idea to have it hosted and maintained under the scope of the raml-org namespace. This should provide additional credibility not only to this project, but also to the RAML specification.

I'm still surprised to this day about how little traction there has been (other than this project) for a fully compliant PHP library that implements the RAML specification considering there are

[2018-02-05 23:20] jstoiko commented on #117
Thanks for the pointers.

@arheyy: would you and the folks @eLama be interested in merging your fork back upstream and taking over `php-raml-parser`?

[2018-02-06 10:09] InfopactMLoos commented on #117
@jstoiko thanks for the mention but as my company switched to swagger we are not currently working on RAML at the moment. I really liked working with RAML so its good to see this being picked up again, good luck with the project!

[2018-04-03 13:19] vbartusevicius commented on #117
I think official parser for PHP would be great, of course if **raml-org** agrees.

[2018-04-03 16:11] jstoiko commented on #117
Sounds good! I propose that we continue this conversation on Slack. If that’s ok with you folks, you can join here: https://raml.org/slack and ping me there, I create a dedicated channel for the PHP parser.

[2018-04-04 01:45] jefferson-lima commented on #117
Thanks for mention, but currently I don't have the time to make a commitment with this project, but I will keep following it and contribute whenever I can.

[2018-04-23 08:47] vbartusevicius commented on #117
I wanto to invite @eduard-sukharev in this discussion as I see he did a lot of code reviews/merges.
Eduard, maybe you could help us on moving https://github.com/eLama/php-raml-parser fork under official raml.org? Or maybe you know the person currently maitainig this fork?

[2018-04-28 13:02] martin-georgiev commented on #101
With v3.0.0 the package moved to v5.0 of justinrainbow/json-schema

[2018-04-28 13:02] #101 closed

[2018-04-28 13:03] #81 closed

[2018-04-28 13:04] #40 closed

[2018-04-28 13:06] martin-georgiev commented on #88
RAML 1.0 support is provided in [version series 3](https://github.com/alecsammon/php-raml-parser/tree/3.0.0)
RAML 0.8 support is provided in [version series 2](https://github.com/alecsammon/php-raml-parser/tree/2.3.0)

[2018-04-28 13:06] #88 closed

[2018-04-28 13:08] martin-georgiev commented on #108
RAML 1.0 support is provided in [version series 3](https://github.com/alecsammon/php-raml-parser/tree/3.0.0)
RAML 0.8 support is provided in [version series 2](https://github.com/alecsammon/php-raml-parser/tree/2.3.0)

[2018-04-28 13:13] martin-georgiev commented on #117
I've merged the @eLama 's fork back in `master` and some RAML 1.0 support is now provided by the new major version 3. This brings us very close to a state where the repository can be moved to the @raml-org organisation.

[2018-05-05 19:34] jefferson-lima commented on #109
@martin-georgiev , can we close this issue now?

[2018-05-06 07:10] #109 closed

[2018-05-18 18:08] jstoiko commented on #117
The repository transfer has been completed and I am happy to report that `raml-php-parser` is now hosted under `raml-org`.

@martin-georgiev has been helping a lot lately and will keep contributing, but the more we are the better. So if you are interested in contributing, please feel free to get in touch. The best way is to join our #raml-php-parser channel on [Slack](https://raml.org/slack).

[2018-05-22 11:54] martin-georgiev commented on #117
@DenisovMaksim will you and your team also be interested in collaborating on the project?

[2018-05-28 23:16] martin-georgiev commented on #117
@arheyy will you be interested in collaborating on the project?

[2018-08-31 04:02] #68 closed

[2018-08-31 04:02] #71 closed

[2018-08-31 04:02] #82 closed

[2018-09-19 15:06] eduard-sukharev commented on #117
@martin-georgiev we as eLama team are glad to see our contributions were merged back upstream, we'd gladly provide more contributions if our company feels the needs for ones. Currently, though, we don't have much dev power available to do more development on this project, although we still use RAML and Raml parser lib.

[2019-01-01 03:42] martin-georgiev commented on #100
Closing due to inactivity

[2019-01-01 03:42] #100 closed

[2019-03-13 16:01] kanduvisla commented on #108
Any update on this? I just ran into this issue today and I saw that there was already an issue for this. I'm running version `4.3.2` at the moment and the error is still thrown.

[2019-03-13 16:25] martin-georgiev commented on #108
@kanduvisla what is the error you get?
Can you provide samples?

[2019-03-14 08:12] kanduvisla commented on #108
[code]

The RAML File has the following content:

[code]

The error makes sense, because if you look at the class, the method in question checks the property `$validTypes`:

[code]

... and `$validTypes` is a predefined list that is not manipulated by other processes:

[code]

[2019-04-11 14:19] arheyy commented on #117
Sorry guys, have no time

[2019-07-29 17:59] adamwojs opened #152 "Missing support for displayName property in the resources methods"
Hi,

First of all thank you for this package. Works really great!

According to RAML specyfication is possible to set `displayName` property for the resources methods:

(ref. https://github.com/raml-org/raml-spec/blob/1.0/versions/raml-10/raml-10.md#methods)

which seems to be not supported by this package.

[2019-07-30 06:30] #152 closed

[2019-08-03 21:31] martin-georgiev opened #154 "Poorly handled Content-Type header values"
`Content-Type` header values like `application/json; charset=us-ascii` have side effects during validation.

Both [`RequestValidator`](https://github.com/raml-org/raml-php-parser/blob/4a8faa80a708de25a1467633c0a096ade6cc5d82/src/Validator/RequestValidator.php#L106) and [`ResponseValidator`](https://github.com/raml-org/raml-php-parser/blob/4a8faa80a708de25a1467633c0a096ade6cc5d82/src/Validator/Resp

[2019-08-03 21:51] #154 closed

[2019-08-03 22:01] martin-georgiev opened #156 "Missing support of built-in type ANY"
`ApiDefinition` lists the built-in types, however, the root [`ANY`](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#built-in-types) type is omitted there.

[Offending code](https://github.com/raml-org/raml-php-parser/blob/507c4e7eca8bbd7a46824f356d3e804064cf9b6c/src/ApiDefinition.php#L591):
[code]

[2019-09-01 10:37] #156 closed

[2020-04-20 20:56] rfm-bot opened #163 "🚧 Is this repo maintained?"
👋 The user @sospedra marked this repo in **need for maintainers**.
✅ If you're **looking for collaborators** no action is required
👮🏻‍♂️ If this repo it's **well-supported please put a comment** here https://github.com/sospedra/rfm/issues/35

[2020-04-20 21:00] #163 closed

[2020-11-17 08:49] burkun-sergey opened #165 "String type min\maxLength validation error for multibyte strings values"
Incorrect string type minLength\maxLength validation with multibyte string values.

Raml example:
[code]

To fix the issue you can replace strlen() with mb_strlen() in StringType::validate()
[code]

[2020-11-18 10:31] #165 closed

[2020-11-18 10:34] martin-georgiev commented on #165
@burkun-sergey this is now fixed in release [v4.7.0](https://github.com/raml-org/raml-php-parser/tree/v4.7.0)

[2020-11-30 22:49] NateEag opened #170 "Add OPTIONS support to 2.x branch?"
I've got a project that still contains the original [alecsammons version of this library](https://github.com/alecsammon/php-raml-parser).

I discovered recently that it does not support the `OPTIONS` HTTP method in RAML documents, which I have a use for in this project.

It looks like `OPTIONS` [is still unsupported in the `v2.x` branch](https://github.com/raml-org/raml-php-parser/blob/v2.x/src/Me

[2020-11-30 23:13] martin-georgiev commented on #170
The v2.x branch is pretty much dead. It doesn't receive any support and is not being maintained for the last couple of years. Adding `OPTIONS` to RAML 1.0 (`master` branch or against the latest v4 release tag) will be however more than welcome.
Please note that `master` is getting prepared to drop all EOL PHP versions, so if you are targeting support for PHP <7.3 branching from one the v4 release

[2020-12-01 21:03] NateEag commented on #170
It looks to me like [`OPTIONS` is already supported in master](https://github.com/raml-org/raml-php-parser/blob/master/src/Method.php#L17).

I haven't tested that or looked at the 1.0 branch beyond that observation, precisely because of the dependency on PHP >= 7.3. As you seem to have guessed, the project I'm looking at it is still on an older PHP.

Thanks very much for the info.

[2020-12-01 21:08] martin-georgiev commented on #170
Sounds like you can switch to v4.7.0 as it provides support of PHP 5.6. I'm afraid you'll have to fork and cherry-pick any changes that will give you support for PHP versions before 5.6.

[2020-12-01 22:18] NateEag commented on #170
This project is on PHP 7.0, so that should work fine. Thanks for the tip!

Do you happen to know if there are backwards-incompatible changes between the v2.x branch and the v4 line of development?

I don't see a changelog or a declaration of version numbering methodology, hence the question.

If you don't know offhand, no worries - just figured it was worth asking.

[2020-12-14 22:38] martin-georgiev commented on #170
There should be several backwards-incompatible changes but I can't name them as most of that work was released before I joined as maintainer.

[2020-12-23 19:40] NateEag commented on #170
Okay, no worries. Thanks for the info!

[2021-03-07 18:44] peter279k opened #172 "Consider moving to GitHub Action or Travis CI dot com"
As title, since the Travis CI dot org has been deprecated soon, it's time to move to other CI services.

The Travis CI dot com is the good choice because it's easy to do setting migration, but it's not friendly for the open source projects.

Another CI service is GitHub Action, it's good for the open source project, but it should have additional to do CI setting migration.

[2022-05-10 12:46] arthurkushman opened #177 "Issue with symfony/routing dependency when installing with composer for Laravel"
[code]

[2022-05-10 15:58] #177 closed